#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 960px;
}
#header .site-title {
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
    margin-bottom: 0;
}
#header .site-title {
    display: block;
}
#header img {
    max-width: 100%;
    border-style: none;
}
#header ul {
    display: flex;
    padding: 10px 0;
    margin-bottom: 0;
}
#header li {
    margin-left: 30px;
    list-style: none;
}
#header li a {
    color: #24292e;
}
a {
    text-decoration: none;
    background-color: transparent;
}
