#mainvisual {
    margin-bottom: 80px;
}
#mainvisual img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
    line-height: 50px;
}
#about,#bicycle{
    text-align: center;
    margin-bottom: 100px;
}
#bicycle{
    margin: 0 auto 100px auto;
    padding: 0 4%;
    max-width: 960px;
}
#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
#about .text {
    text-align: left;
}
.content-title {
    font-size: 1rem;
    margin: 10px 0;
    font-weight: 700;
}
#bicycle ul {
    display: flex;
    justify-content: space-between;
}
#bicycle li {
    width: 32%;
}
#bicycle li img {
    max-width: 100%;
}
@media (max-width: 600px) {
    #about .content{
        display: flex;
        flex-direction: column;
    }
    #bicycle ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #bicycle li {
        width: 100%;
        margin-bottom: 30px;
    }
  } 